#welcome{
  margin: auto;
  padding: 10px;
  text-align: center;
}

.playerOne {
 /* Player one is the container for player one*/

 background-color: lightgrey;
 width: 750px;
 padding: 5px;
 border: 5px;
 border: 1px solid black;
 float: left;


}

.playerTwo {
 /* Player two is the container for player two*/

 background-color: lightgrey;
 width: 750px;
 padding: 5px;
 border: 5px;
 border: 1px solid black;
 float: right;

}

h2 {
  text-align: center;
}

#container{

}

.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.playerOne .board {

    width: 550px;
    height: 550px;
    padding: 5px;
    border: 5px;
    margin: 5px auto auto 100px;
    /*float: right;*/
    /*visibility: hidden;*/
}

.playerTwo .board {

    width: 550px;
    height: 550px;
    padding: 5px;
    border: 5px;
    margin: 5px 100px auto auto;
    /*float: right;*/
    /*visibility: hidden;*/
}

.letter{
  font-size: 200%;
  text-align: center;
}

.number{
  font-size: 200%;
  text-align: center;
}

.tile {
    background-color: lightblue;
    width: 49px;
    height: 46px;
    border: 1px solid black;
    margin-right: -1px;
    float: left;
}

.touched {
  background-color: red;
}

.missed {
  background-color: yellow;
}

.hover {
  background-color: blue;
}

.shipSet {
  background-color: #525151;
}

.messageBox {
  float: left;
  width: 710px;
  height: 250px;
  background-color: #ccc;
  border: 1px solid black;
  text-align: center;
  padding: 25px;
}
