.board {

    width: 500px;
    height: 500px;
}

.row {

    width: 500px;
    height: 50px;
    margin-bottom: -3px;
    float: left;
}

.tile {
    background-color: lightblue;
    width: 49px;
    height: 46px;
    border: 1px solid black;
    margin-right: -1px;
    float: left;
}

/*.rowDisplay {

    width: 500px;
    height: 50px;
    float: left;
}

.columnDisplay {

    width: 49px;
    height: 500px;
    float: left;
}*/

.hover {
  background-color: blue;
}

.shipSet {
  background-color: #525151;
}
